@media print {
    @page {
      size: 70mm auto; /* Width is set to 70mm, height is dynamic */
      margin: 0;
    }
  
    html, body {
      margin: 0 !important;
      padding: 0 !important;
      height: auto !important;
      width: 70mm !important;
      overflow: visible !important;
    }
  
    #root {
      display: none !important;
    }
  
    #print {
      display: block;
      margin: 0;
      padding: 1px;
      width: 70mm !important;
      height: auto !important; /* Allow dynamic height */
      overflow: visible !important;
    }
  }
  